<footer class="footer text-center">
    <img class="pikat-footer" src="./img/icon.png" alt="">
    <div class="container">
  <div class="logo" ><img src="./img/Mask Group 2.png" alt="">find you</div>
  <div>
      <h4>Quick Link</h4>
    <h5><a class="link" href=""> Feature</a></h5>
     <h5><a class="link" href="">Terms & Condition</a></h5>
     <h5><a class="link"  href="">User Feedback</a></h5>
      <h5><a class="link" href="">Online Payment</a></h5>
  </div>
  <div>
      <h4>How It Work?</h4>
      <h5>Create Account</h5>
      <h5>Make Plan</h5>
      <h5>Select Date</h5>
      <h5>Online  Payment</h5>
  </div>
  <div class="social-media">
      <a href=""><img src="./img/Group 864.png" alt=""></a>
      <a href=""><img src="./img/Group 863.png" alt=""></a>
      <a href=""><img src="./img/Group 862.png" alt=""></a>
      <a href=""><img src="./img/Group 861.png" alt=""></a>

  </div>
</div>
<p>© Copyright Secure. All rights reserved.</p>
</footer>
<script src="js/all.js"></script>
<script>
    $(document).ready(function(){
    $(".toggler").on("click", function() {
      if($("header ul").css("display") == "none") {
        $("header ul").css("display", "block");
      }
      else{
        $("header ul").css("display", "none");
      }
    });
});
</script>
</body>
</html>
