<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/icon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <title>Find You</title>
  </head>
<body>
    <header class="container">
        <div>
            <img src="img/Mask Group 2.png" alt="">
            <h3>Find you</h3>
        </div>
        <ul>
            <li><a href="#feature">Feature</a></li>
            <li><a href="#how-it-work">How it Work</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a class="start" href="#start">Get Start</a></li>
        </ul>
        <button class="toggler">
          <span></span>
          <span></span>
          <span></span>
      </button>
    </header>
