<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="./img/Mask Group 2.png">
    <title>Find You</title>
  </head>
  <body>
        <header>
          <div class="container">
            <nav>
              <div class="logo">
                <img src="./img/Mask Group 2.png" />
                <p>FIND YOU</p>
              </div>
              <div class="nav-links">
                <ul>
                  <li>
                    <a href="#Feature">Feature</a>
                  </li>
                  <li>
                    <a href="#">How it works</a>
                  </li>
                  <li>
                    <a href="#">Pricing</a>
                  </li>
                 
                </ul>
              </div>
              <a href="#" class="gt-button">Get Start</a>
            </nav>
          </div>
          <div class="container1">
            <div class="banner">
              <div class="katror"> <img src="./img/banner text1.png" alt=""></div>
              <div class="content">
                <h1>Be together, whenever.</h1>
                <p>I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account.</p>
                <a href="#">Try 30 Days Free</a>
              </div>
              <div class="katror"><img src="./img/banner text2.png" alt=""></div>
            </div>
            <div class="girl ">
  
              <img src="./img/illustration.png" alt="">
            </div>
          </div>
          
        </header>